@{
    ViewData["Title"] = "Gerardo Ramos";
}
<h1>@ViewData["Title"]</h1>

<p>
    Este código fue creado como parte de una prueba técnica. Fue diseñado para demostrar habilidades y conocimientos específicos requeridos para la posición en cuestión. Por favor, ten en cuenta que este código puede no representar necesariamente un producto finalizado o completamente optimizado, ya que su propósito principal era cumplir con los requisitos de la prueba técnica. Si tienes alguna pregunta adicional o necesitas más información sobre este código, no dudes en preguntar..
</p>
