@model IEnumerable<Clientes>

<h1>Facturas</h1>
<p>
    <a asp-action="Crear" class="btn btn-danger">Nueva</a>
</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Cliente </th>
                <th>Numero de Factura</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select id="selectModelo2" name="Modelo2">

                    @foreach (var cliente in Model)
                    {
                            <option value="@cliente.Id">@cliente.rfc</option>
                    }
                    </select>
            </td>
                <td>
                    <input type="text" placeholder="Numero" name="usernameField" id="username" runat="server">
                </td>
            </tr>

        </tbody>
    </table>
</div>
<a asp-action="Detalle" class="btn btn-info">Agregar producto</a>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Imagen</th>
            <th>totales</th>
        </tr>
    </thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Sub Total</th>
        <th>$</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Impuesto (19%)</th>
        <th>$</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Total</th>
        <th>$</th>
    </tr>
</table>
<a asp-action="Guardar" class="btn btn-success">Guardar</a>
